.container{
    display: flex;
    flex-direction: column;
    width: 100vh;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.cart {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding: 30px;
    width: 100%;
}

.prod {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    background-color: pink;
    color: black;
    width: 100%;
}

.price {
    color: blueviolet;
}